<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="mx.yellowme.youst.miniapps">

    <application>
        <activity
            android:name=".MiniAppsActivity"
            android:theme="@style/SharedAppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.chords.ChordsActivity"
            android:theme="@style/SharedAppTheme.NoActionBar" />

        <activity
            android:name=".ui.contact.ContactUsActivity"
            android:theme="@style/SharedAppTheme.NoActionBar" />

        <receiver android:name=".ui.contact.DeepLinkWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/deep_link_widget_info" />
        </receiver>
    </application>

    <dist:module
        dist:instant="false"
        dist:title="@string/title_mini_apps">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="false" />
    </dist:module>

</manifest>
