<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="mx.yellowme.youst.playground">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_playground">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>

    <application>
        <activity
            android:name=".PlaygroundActivity"
            android:theme="@style/SharedAppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <!--region Navigation-->

        <activity
            android:name=".navigation.NavigationActivity"
            android:label="Jetpack Navigation"
            android:parentActivityName=".PlaygroundActivity"
            android:theme="@style/SharedAppTheme.NoActionBar.Translucent">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlaygroundActivity" />
        </activity>

        <!--endregion-->

        <!--region Nemo-->

        <activity
            android:name=".nemo.NemoActivity"
            android:theme="@style/SharedAppTheme.NoActionBar.Translucent" />
        <activity
            android:name="mx.yellowme.youst.playground.nemo.screens.LoginScreen"
            android:theme="@style/SharedAppTheme.NoActionBar.Translucent" />
        <activity
            android:name="mx.yellowme.youst.playground.nemo.screens.UnsupportedVersionScreen"
            android:theme="@style/SharedAppTheme.NoActionBar.Translucent" />
        <activity
            android:name="mx.yellowme.youst.playground.nemo.screens.UserWithoutAttributeScreen"
            android:theme="@style/SharedAppTheme.NoActionBar.Translucent" />
        <activity
            android:name="mx.yellowme.youst.playground.nemo.screens.MissingPaymentOptionScreen"
            android:theme="@style/SharedAppTheme.NoActionBar.Translucent" />
        <activity
            android:name="mx.yellowme.youst.playground.nemo.screens.MainScreen"
            android:theme="@style/SharedAppTheme.NoActionBar.Translucent" />

        <!--endregion-->

    </application>

</manifest>

